* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container {
    width: 100%;
    height: auto;
    border: 2px solid black;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: black;
    flex-wrap: wrap;
}

.navebarImg {
    width: 220px;
    height: auto;
    padding: 15px;
    gap: 10px;
}

.naveBnt {
    background: black;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.naveBnt:hover {
    border: 2px solid red;
    color: red;
    border-radius: 10px;
}

.mainConteiner {
    background: rgb(1, 136, 1);
    max-width: 1440px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3fr 1fr);
    grid-template-areas: 
    "firstItem firstItem firstItem"
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9";
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.firstItem {
    display: flex;
    flex-direction: column;
    height: 150px;
    border: 2px solid black;
    grid-area: firstItem;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.monarcaTitle {
    color: #fff;
    font-size: 70px;
    gap: 10px;
}

.monarcaSlogan {
    color: #fff;
    font-size: 40px;
    gap: 10px;
}

.mainCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid black;
    padding: 20px;
}

.mainCardImg {
    max-width: 150px;
    height: auto;
}